@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #fafafa;
    color: #2e2e2e;
    line-height: 1.8;
}

#page{
    margin: 0 auto;
    max-width:900px;
}

#page header{
    margin: 4.5rem 0;
}

.page-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.container div #algos-multiselect{
    width: 100%;
    padding: 5px 10px;
    font-size: 1.6rem;
}

.container, .written-algorithm {
    max-width: 50%;
}

.algo-steps-container{
    
}

.written-algorithm label{
    display: block;
    text-align: left;
}

.written-algorithm{
    margin: 0px 0px 0px 0px;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.algo-description{
    text-align: left;
    margin: 20px 0;
    border: 1px solid black;
    font-size: 1.5rem;
}

.algo-steps{
    margin-top: 0px;
    width: 400px;
}

